body{
    text-align: center;
    margin: 0;
    padding: 0;
}
li{
    display: inline;
    margin-right: 20px;
}
li a{
    color: tomato;
    background-color: turquoise;
    text-decoration: none;
    padding: 5px;
}
#logo{
    width:90px ;
}
#btn-search{
    background-color: green;
    color: white;
    border: none;
    width: 80px;
    padding:10px ;
}
input{
    padding: 10px;
}
#section-one{
    background-image: url('https://png.pngtree.com/element_pic/16/11/02/bd886d7ccc6f8dd8db17e841233c9656.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 500px;

}
#section-one p{
    font-size: 22px;
    color: brown;
    padding-top: 100px;
    width: 50%;
    margin: auto;
}
iframe{
    width:40%;
    margin: auto;
}
#contact{
    background-color: chocolate;
}
#contact h1{
    color: crimson;
}
label{
    color: darkmagenta;
}
#btn-submit{
    background-color: blue;
    color: white;
    border: none;
    padding: 8px 14px;
}
#btn-submit:hover{
    background-color: brown;

}
footer{
    text-align: center;
}
